<header class="inner">
    <h2><a href="/"><i class="fas fa-code"></i>
            CodeGig</a></h2>
    <nav>
        <ul>
            <li>
                <a href="/" class="<%= path === '/' ? 'active' : '' %>">Home</a>
            </li>
            <li>
                <a href="/gigs" class="<%= path === '/gigs' ? 'active' : '' %>">All Gigs</a>
            </li>
            <li>
                <a href="/gigs/add" class="<%= path === '/gigs/add' ? 'active' : '' %>">Add Gig</a>
            </li>
        </ul>
    </nav>
</header>